body {
}
.paraBody{
    background-color: #fdf6ed
}
.buttons {
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.buttons-outline {
    color: #f8f9fa;
    border-color: transparent;
    height:
}